<launch>
  <arg name="serial_no"           default=""/>
  <arg name="camera"              default="azcam"/>
  <arg name="topic_prefix"           default="$(arg camera)"/>

  <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
      <param name="num_worker_threads" value="16" />
  </node>

  <node
        pkg="nodelet" type="nodelet" name="rectify_depth"
        args="load image_proc/rectify manager --no-bond"
        respawn="true">
      <remap from="image_mono"  to="/$(arg topic_prefix)/depth_to_rgb/image_raw" />
      <remap from="image_rect"  to="/$(arg topic_prefix)/depth_to_rgb/image_rect" />

      <param name="interpolation" value="0" />
  </node>

  <!--
  <node
        pkg="nodelet" type="nodelet" name="rectify_rgb"
        args="load image_proc/rectify manager --no-bond"
        respawn="true">
      <remap from="image_mono"  to="/$(arg topic_prefix)/rgb/image_raw" />
      <remap from="image_rect"  to="/$(arg topic_prefix)/rgb/image_rect_color" />
  </node>
  -->

  <!-- Spawn an image_proc/rectify nodelet to rectify the IR image -->
  <!--
  <node
        pkg="nodelet" type="nodelet" name="rectify_ir"
        args="load image_proc/rectify manager --no-bond"
        respawn="true">
      <remap from="image_mono"  to="/$(arg topic_prefix)/ir/image_raw" />
      <remap from="image_rect"  to="/$(arg topic_prefix)/ir/image_rect" />
  </node>
  -->

</launch>